/*
* @Author: smithsf0x
* @Date:   2015-12-17 20:37:54
* @Last Modified by:   smithsf0x
* @Last Modified time: 2015-12-17 22:42:59
*/

html,
body {
   height: 100%;
}
body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#container {
   display: flex;
   min-height: 100%;
}
input[type=checkbox] {
   position: absolute;
   opacity: 0;
}
label {
   position: absolute;
   top: 10px;
   left: 40px;
   z-index: 1;
   display: block;
   font-size:4em;
   cursor: pointer;
   transition: transform .4s;
}
input[type=checkbox]:checked ~ label {
   transform: translate3d(250px, 0, 0);
}
.content {
   width:100%;
   padding: 40px;
   transition: transform .4s;
   outline-offset: 1px;
   outline-style: solid;
   outline-width: 1px;
   outline-color: rgba(0, 0, 0, 0.2);
}
input[type=checkbox]:checked ~ .content {
   transform: translate3d(250px, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu {
   transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu .menu li {
   width: 100%;
}
.slide-menu {
   transform: translate3d(-250px, 0, 0);
   position: absolute;
   width: 250px;
   left: 0;
   height: 100%;
   transition: all .4s;
}
.slide-menu h1 {
   margin: 10px;
}
.menu {
   list-style: none;
   padding: 0;
   margin: 0;
}
.menu a {
   display: block;
   text-decoration: none;
   font-size: 1.1em;
   padding: 15px;
}
.menu a:hover {
   background: linear-gradient(#3b3f48, #3c434d);
   box-shadow: inset 0px 1px 1px #475059;
}